@page "/PartialPayments"
<main id="main" class="main">
<div class="pagetitle">
    <h1>Partial Payments</h1>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-12">
          
        </div>
    </div>
</section>
</main>
@code {

}
